<form>
    <div>
        <label>name</label>
        <input type="text" name="name" id="name"></input>
    </div>
    <div>
        <label>password</label>
        <input type="text" name="password" id="password"></input>
    </div>
</form>